body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
ю h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/**-------------------------------------- */
/** --------------HEADER----------------- */
.header {
  padding: 24px 0px 32px 0px;
}

.container-header {
  display: flex;
  align-items: center;
  gap: 90px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-span {
  font-style: italic;
}

.header-logo-img {
}

.header-menu {
  display: flex;
  gap: 24px;
}

.header-list {
}

.header-list-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
}

.header-menu-soc {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: space-between;
}

.header-list-soc {
  display: flex;
  gap: 14px;
}

.header-list-soc-link {
}

.svg-icon {
  fill: transparent;
  stroke: #111;
}

/** ----------------------------------- */

/** --------------HERO----------------- */

.hero {
  padding-bottom: 80px;
}
.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  padding: 381px 40px 40px 40px;
  justify-content: center;
  align-items: center;
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21; /* 121.429% */
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-buy-btn {
  padding: 14px 40px;
  color: #fff;
  font-family: inherit;
  border-radius: 100px;
  background: #fd9222;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}
.hero-made-link {
  padding: 14px 40px;
  margin-left: 14px;
  border-radius: 100px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.hero-down-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.03em;
  margin-left: auto;
}

/** ----------------------------------- */

/** --------------FEATURES----------------- */
.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 120px;
}

.container {
}

.feauters-menu {
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
  gap: 88px;
}

.feauters-list {
  width: calc((100% - 88px * 2) / 3);
  position: relative;
}

.feauters-title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.feauters-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/** ----------------------------------- */

/** --------------FEATURES----------------- */
body {
  margin: 0;
  padding: 0;
}

.reviews .container {
  background-color: #0e1823;
  margin: 0 auto;
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
}

.reviews-title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  color: #fbfbfb;
  text-align: center;
}

.reviews-all-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 40px;
}

.reviews-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.reviews-list {
  padding: 0;
}

.reviews-list-item {
  margin: 0 auto;
  display: none;
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 32px 16px;
}

.reviews-list-item:first-child {
  display: block;
}

.reviews-item-img {
  margin: 0 auto;
  margin-bottom: 24px;
}

.reviews-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
}

.reviews-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}

@media screen and (min-width: 375px) {
  .reviews .container {
    max-width: 375px;
  }
  .reviews-list-item {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .reviews .container {
    max-width: 768px;
    padding: 75px 32px;
  }

  .reviews-all-text {
    width: 704px;
    margin-bottom: 75px;
  }

  .reviews-title {
    font-size: 48px;
  }

  .reviews-text {
    width: 571px;
    font-size: 14px;
    line-height: 1.29;
  }
  .reviews-list {
    display: flex;
    gap: 32px;
  }

  .reviews-list-item {
    display: block;
  }
  .reviews-list-item:last-child {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .reviews .container {
    max-width: 1280px;
  }

  .reviews-all-text {
    margin: 0 auto;
    width: 854px;
    margin-top: 150;
    margin-bottom: 25px;
  }

  .reviews-title {
    font-size: 48px;
  }

  .reviews-text {
    width: 571px;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 75px;
  }
  .reviews-list {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-bottom: 150px;
  }
  .reviews-list-item:last-child {
    display: block;
  }

  .reviews-list-item {
    margin: 0;
    width: 376px;
  }
}
